<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.yajie.dao.IUserDao">
	<resultMap id="BaseResultMap" type="com.cn.yajie.pojo.User">
		<id column="uid" property="uid" jdbcType="CHAR" />
		<result column="username" property="username" jdbcType="CHAR" />
		<result column="password" property="password" jdbcType="CHAR" />
		<result column="umobile" property="umobile" jdbcType="CHAR" />
		<result column="utelphone" property="utelphone" jdbcType="CHAR" />
		<result column="umobile_bak" property="umobileBak" jdbcType="CHAR" />
		<result column="uhomeAddr" property="uhomeaddr" jdbcType="CHAR" />
		<result column="companyid" property="companyid" jdbcType="CHAR" />
		<result column="companyName" property="companyname" jdbcType="CHAR" />
		<result column="ucompanyAddr" property="ucompanyaddr" jdbcType="CHAR" />
		<result column="addDate" property="adddate" jdbcType="CHAR" />
		<result column="remark" property="remark" jdbcType="CHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		uid, username, password, umobile, utelphone, umobile_bak, uhomeAddr,
		companyid, companyName,
		ucompanyAddr, addDate, remark
	</sql>
	<select id="selectByUid" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_table
		where uid = #{uid,jdbcType=CHAR}
	</select>
	<select id="checkUser" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from user_table
		where 1=1
		<if test="username != null">
			and username = #{username,jdbcType=CHAR}
		</if>
		<if test="password != null">
			and password = #{password,jdbcType=CHAR}
		</if>
		
	</select>
	
	<delete id="deleteByUid" parameterType="java.lang.String">
		delete from user_table
		where uid = #{uid,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="com.cn.yajie.pojo.User">
		insert into user_table (uid, username, password,
		umobile, utelphone, umobile_bak,
		uhomeAddr, companyid, companyName,
		ucompanyAddr, addDate, remark
		)
		values (#{uid,jdbcType=CHAR}, #{username,jdbcType=CHAR},
		#{password,jdbcType=CHAR},
		#{umobile,jdbcType=CHAR}, #{utelphone,jdbcType=CHAR}, #{umobileBak,jdbcType=CHAR},
		#{uhomeaddr,jdbcType=CHAR}, #{companyid,jdbcType=CHAR},
		#{companyname,jdbcType=CHAR},
		#{ucompanyaddr,jdbcType=CHAR}, #{adddate,jdbcType=CHAR}, #{remark,jdbcType=CHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.cn.yajie.pojo.User">
		insert into user_table
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				uid,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="umobile != null">
				umobile,
			</if>
			<if test="utelphone != null">
				utelphone,
			</if>
			<if test="umobileBak != null">
				umobile_bak,
			</if>
			<if test="uhomeaddr != null">
				uhomeAddr,
			</if>
			<if test="companyid != null">
				companyid,
			</if>
			<if test="companyname != null">
				companyName,
			</if>
			<if test="ucompanyaddr != null">
				ucompanyAddr,
			</if>
			<if test="adddate != null">
				addDate,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=CHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=CHAR},
			</if>
			<if test="umobile != null">
				#{umobile,jdbcType=CHAR},
			</if>
			<if test="utelphone != null">
				#{utelphone,jdbcType=CHAR},
			</if>
			<if test="umobileBak != null">
				#{umobileBak,jdbcType=CHAR},
			</if>
			<if test="uhomeaddr != null">
				#{uhomeaddr,jdbcType=CHAR},
			</if>
			<if test="companyid != null">
				#{companyid,jdbcType=CHAR},
			</if>
			<if test="companyname != null">
				#{companyname,jdbcType=CHAR},
			</if>
			<if test="ucompanyaddr != null">
				#{ucompanyaddr,jdbcType=CHAR},
			</if>
			<if test="adddate != null">
				#{adddate,jdbcType=CHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByUidSelective" parameterType="com.cn.yajie.pojo.User">
		update user_table
		<set>
			<if test="username != null">
				username = #{username,jdbcType=CHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=CHAR},
			</if>
			<if test="umobile != null">
				umobile = #{umobile,jdbcType=CHAR},
			</if>
			<if test="utelphone != null">
				utelphone = #{utelphone,jdbcType=CHAR},
			</if>
			<if test="umobileBak != null">
				umobile_bak = #{umobileBak,jdbcType=CHAR},
			</if>
			<if test="uhomeaddr != null">
				uhomeAddr = #{uhomeaddr,jdbcType=CHAR},
			</if>
			<if test="companyid != null">
				companyid = #{companyid,jdbcType=CHAR},
			</if>
			<if test="companyname != null">
				companyName = #{companyname,jdbcType=CHAR},
			</if>
			<if test="ucompanyaddr != null">
				ucompanyAddr = #{ucompanyaddr,jdbcType=CHAR},
			</if>
			<if test="adddate != null">
				addDate = #{adddate,jdbcType=CHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=CHAR},
			</if>
		</set>
		where uid = #{uid,jdbcType=CHAR}
	</update>
	<update id="updateByUid" parameterType="com.cn.yajie.pojo.User">
		update user_table
		set username = #{username,jdbcType=CHAR},
		password = #{password,jdbcType=CHAR},
		umobile = #{umobile,jdbcType=CHAR},
		utelphone = #{utelphone,jdbcType=CHAR},
		umobile_bak = #{umobileBak,jdbcType=CHAR},
		uhomeAddr = #{uhomeaddr,jdbcType=CHAR},
		companyid = #{companyid,jdbcType=CHAR},
		companyName = #{companyname,jdbcType=CHAR},
		ucompanyAddr = #{ucompanyaddr,jdbcType=CHAR},
		addDate = #{adddate,jdbcType=CHAR},
		remark = #{remark,jdbcType=CHAR}
		where uid = #{uid,jdbcType=CHAR}
	</update>
</mapper>